.mapa-locais-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 90dvw;
  height: 90dvh;
}


.leaflet-container {
  border: 1px solid var(--corAzulRoyal);
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  height: 100vh;
  z-index: 0;
}